.action-button{
  background-color: #3040C4;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  width: 160px;
  height: 48px;
}

@media screen and (min-width:400px){
  .hide_desktop{
    display: block;
  }
}

@media screen and (max-width:399px){
  .hide_mobile{
    display: none;
  }
}