.customers{
  display: flex;
  flex-direction: column;

  @include for-large-up {
    width: 1140px;
    padding-top: 30px;
    padding-bottom: 106px;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__row{
    display: flex;

    @include for-large-up {
      flex-grow: 1;
      justify-content: space-around;
    }
  }
  
  &__item{
    width: 107px;
    height: 94px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    @include for-large-up {
      border: none;
    }
  }
  
  &__item:last-child{
    border-right: none;
  }
  
  &__logo{
    filter: brightness(0);
    max-width: 80%;
  }
}