.order{
  padding: 50px 15px;
  background-color: #F4F5F7;

  @include for-large-up{
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 224px;
    padding-right: 228px;

    &__details{
      max-width: 555px;
    }

    &__illustration{
      max-width: 269px;
      margin-right: 121px;
    }
  
  }

  &__illustration-centered{
    text-align: center;
  }

  &__illustration{

    @include for-large-down{
      max-width: 200px;
    }
  }

  &__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.25px;
    margin-top: 40px;
  }

  &__text{
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    margin-top: 18px;
  }

  &__form{
    @include for-large-up{
      display: flex;
      margin-top: 26px;
    }
  }

  &__email{
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 13px;

    &::placeholder{
      color: #2b292d;
    }

    @include for-large-up{
      margin-top: 0;
    }
  }

  &__button{
    margin-top: 12px;

     @include for-large-down{
      width: 100%;
    }

    @include for-large-up{
      margin-top: 0;
      margin-left: 10px;
      flex-shrink: 0;
    }
  }

  &__terms{
    font-size: 14px;
    line-height: 22px;
    color: #2b292d99;
  }

  &__terms-link{
    color: #3040C4;
  }
}