$light-grey: #F4F5F7;
$dark-blue: #00a1c612;
$dark-grey: #2b292d33;
$dark-velvet: #2b292d99;
$background-color-peach: #F3C6BD;
$bacground-color-orange: #FCF0E3;
$light-grey: #e3e3e3;
$white: #fff;
$blue: #3141C5;
$button-color: #3040C4;


$text-standart-color: #2B292D;
$text-color-green: #009B4D;
$text-color-blue: #3142C6;


$border-color-grey: #2b292d26;
$border-color-dark-grey: #0000001A;
